*.ige
*.img.aux.xml
*.img
*.tif
*.rbc
*.adf

.DS_Store
*.swp
*.gem
.bundle
.config

coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/lib/results/*.csv
/lib/polygons/*.geojson
/lib/assets/raster/*.json
/lib/assets/raster/info/*.json
/lib/assets/raster/input/*

# YARD artifacts
.yardoc
_yardoc
doc/
*.*~
