*.ige
*.img.aux.xml
*.img
*.tif
*.rbc
*.adf

.DS_Store
*.swp
*.gem
.bundle
.config

coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
test/tmp
test/version_tmp

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

results/*.csv
polygons/*.geojson
raster/*.json
raster/info/*.json
raster/input/*

# YARD artifacts
.yardoc
_yardoc
doc/
*.*~
