%html
  %body
    %h1 Raster Uploader
    %h2 Please point to your Raster URL
    %form{ :action => "/uploads/external", :method => "post"}
      %p
        Display Name:
        %input{:type => "text", :name => "display_name"}
      %p
        File path:
        %input{:type => "text", :name => "raster_url"}
      %p
        %input{:type => "submit", :value => "Send", :class => "button"}
